<div>Jokkmokk, Швеция</div>
<div>
    <span>озеро и река</span>
</div>
<div>
    <span>6–11 февр.</span>
</div>
<div>
    <div>
        <div>
            <span>
                <div>
                <span>
                    $671&nbsp;
                </span>
            <span>
                ночь
            </span>
        </div>
        <span>$671 за ночь</span>
        </span>
        </div>
    </div>
</div>
<span role="img">
    <span>
        <svg>
            <path>

            </path>
        </svg>
    </span>
    <span>
        4,93
    </span>
</span>