<div>
    <div>Kotor, Черногория</div>
    <div>
        <span>пляж и море</span>
    </div>
    <div>
        <span class=" dir dir-ltr">5–10 февр.</span>
    </div>
    <div>
        <div>
            <div>
                <span>
                    <div>
                        <span>$65&nbsp;</span>
                        <span>ночь</span>
                    </div>
                    <span>$65 за ночь</span>
                </span>
            </div>
        </div>
    </div>
    <span>
        <span>
        <svg>
            <path></path>
        </svg>
    </span>
        <span>4,82</span>
    </span>
</div>